/*  V A R I A B L E S  */
:root {
  --main-color: #fcaf3c;
  --secondary-color: #4daeee;

  --body-bg-color-gray: #f7f7f7;
  --main-bg-color: #fff9ec;
  --secondary-bg-color: #ffead0;

  --main-ff: "Cairo", sans-serif;
  /* --base-ff: */
}

/*  S H A R E D   S T Y L E  */
html {
  scroll-padding-top: 78px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-ff);
}

h2 {
  color: var(--main-color);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  line-height: 1.75;
}

p {
  line-height: 1.75;
}

.bg-body-gray {
  background-color: var(--body-bg-color-gray);
}

.section-title {
  text-align: center;
  margin-bottom: 3.125rem;

  & h2 {
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
}

.btn {
  --bs-btn-padding-x: 30px;
  --bs-btn-padding-y: 10px;
  --bs-btn-font-family: var(--secondary-ff);
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 18.5008px;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-box-shadow: inset 0 0.0625rem 0 rgba(255, 255, 255, 0.15),
    0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 4px rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: 0.8125rem;
  line-height: 18.496px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: var(--bs-btn-border-radius);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out,
    border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

abbr[title] {
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

hr {
  border: 2px solid #fff;
}
/* ===================== G E N E R A L----S T Y L E S ===================== */
/*   S T A R T                     N A V B A R                         S E C T I O N  */
nav {
  box-shadow: 0rem 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.05);
  background-color: var(--main-bg-color);
}

nav h1.brand {
  color: var(--brand-color);
  font-size: 18px;
  letter-spacing: 1px;
}

nav .navbar-brand img {
  height: 25%;
}

nav .navbar-brand span {
  color: var(--main-color);
  font-size: 1px;
}

nav .navbar-brand .slogan span {
  font-size: 0.75rem;
}

nav .navbar-brand:focus-visible {
  border: none;
  outline: none;
}

nav .navbar-nav .nav-link {
  font-size: 1.125rem;
  font-weight: 600;
  color: #717171;
  --bs-navbar-nav-link-margin-x: 5px;
  --bs-navbar-nav-link-margin-x: 5px;
  margin-right: var(--bs-navbar-nav-link-margin-x);
  margin-left: var(--bs-navbar-nav-link-margin-x);
  transition: background 0.5s ease-out, border-radius 0.5s ease-out;
}

nav .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  position: relative;
  background-color: var(--main-color);
  border-radius: 8px;
}

nav .collapse {
  background-color: var(--main-bg-color);
  padding: 0.5rem;
}

nav .collapse.show {
  text-align: center;
}

nav .collapse.show .navbar-nav .nav-item.dropdown .dropdown-menu {
  margin-inline: auto;
  border: none;
  background-color: var(--main-bg-color);
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--main-color);
}

.dropdown-item.active,
.dropdown-item:focus-visible {
  border: none;
  outline: none;
}

nav .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.navbar-toggler:focus-visible {
  outline: none;
}

.navbar-toggler-icon:focus-visible {
  border: none;
  outline: none;
}

nav .collapse .control {
  margin-inline-start: 48px;
}

nav .collapse .control .language {
  display: inline-block;
  color: var(--main-color);
  font-size: 1rem;
  border: 1px solid var(--main-color);
  border-radius: 0.3125rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: filter 0.5s ease-in;

  & svg {
    color: var(--main-color) b;
  }
}

nav .collapse .control .language:hover {
  filter: brightness(0.95);
}

nav .collapse .control a {
  font-weight: 600;
  color: rgb(252, 175, 60, 0.75);
  transition: filter 0.5s ease-in;
}

nav .collapse .control a:hover {
  filter: brightness(0.95);
}
/*   E N D                     N A V B A R                         S E C T I O N  */

/*   S T A R T                 H O M E                         S E C T I O N  */
#home {
  padding: 5rem 0;
  background-image: url(../img/background.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  height: calc(100vh - 58px);
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: var(--secondary-bg-color); */
  background-color: #181616;
  opacity: 0.7;
  z-index: 0;
}

#home .container {
  position: relative;
  z-index: 1;
}

#home p {
  color: var(--secondary-bg-color);
}

#home q {
  color: var(--secondary-bg-color);
}

.btn-message {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-shadow: inset 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
  --bs-btn-border-radius: 50px;
}

.btn-sign-up {
  --bs-btn-color: var(--main-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-shadow: inset 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
  --bs-btn-border-radius: 50px;
  border: 0.0625rem solid var(--main-color);
}
/*   E N D                     H O M E                         S E C T I O N  */

/*   S T A R T                 F E A T U R E S                        S E C T I O N  */
#features {
  background-color: var(--secondary-bg-color);
}

#features .title {
  margin-bottom: 3.125rem;
}

#features .card-item .item {
  height: 17.1875rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: color 05s, background 0.5s, box-shadow 0.5s,
    transform 0.35s ease-out;
}

#features .card-item .item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 16px;
  transform: scale(1.005);
  background-color: var(--main-bg-color);
  & h3 {
    color: var(--main-color);
  }
}

#features .icon {
  color: var(--main-color);
  font-size: 2.5rem;
}
/*   E N D                     F E A T U R E S                        S E C T I O N  */

/*   S T A R T                     T E R M S  &  C O N D I T I O N S                       S E C T I O N  */
#terms {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

#terms div {
  margin-bottom: 2rem;
}

#terms div h4 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#terms div p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#terms div ul {
  margin-block: 1.25rem;
}

#terms div ul.terms-acceptance-content li,
#terms div ul.terms-disclaimer-content li {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  list-style-type: circle;
}

#terms div ul li {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

/*   E N D                     T E R M S  &  C O N D I T I O N S                        S E C T I O N  */

/*   S T A R T                     F A Q                        S E C T I O N  */
#faq {
  min-height: 100vh;
  background-color: var(--secondary-bg-color);
}

#faq .questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#faq .questions .question-item {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
  /* border: 1px solid var(--main-bg-color); */
}

#faq .questions .question-item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  transition: color 0.5s ease;
  padding-inline: 1.5rem;
  & h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
}

#faq .questions .question-item.active .question {
  background-color: var(--main-bg-color);
  padding-block: 1.5rem 1.5rem;
  border-radius: 0.652rem 0.652rem 0 0;
}

#faq .questions .question-item .answer {
  display: none;
  opacity: 0;
  width: inherit;
  padding-inline: 1.5rem;
  & p {
    line-height: 1.6;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

#faq .questions .question-item.active .answer {
  background-color: var(--main-bg-color);
  padding-block: 1.5rem 1.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
  width: 100%;
  display: block;
  opacity: 1;
  animation: fade 0.8s ease-in-out;
}

#faq .questions .question-item svg {
  transition: transform 0.3s ease-in;
}

#faq .questions .question-item.active svg {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/*   E N D                     F A Q                        S E C T I O N  */

/*  S T A R T                  Y O U R   J O U R N E Y                     S E C T I O N  */
#journey {
  background-color: var(--main-bg-color);
  min-height: 50vh;
}

#journey .timeline {
  font-size: 0.875rem;
  width: 90%;
  margin: 1.875rem auto;
  line-height: 1.5;
  position: relative;
  transition: all 0.3s;
}

#journey img {
  max-width: 100%;
}

#journey h3 {
  font-weight: 600;
}

#journey p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
}

#journey .container {
  max-width: 1100px;
  margin: 0 auto;
}

#journey .container .title {
  text-align: center;
  padding: 10px 0;
  font-size: 40px;
  margin-bottom: 80px;
}

#journey .timeline {
  font-size: 14px;
  width: 80%;
  margin: 30px auto;
  line-height: 1.5;
  position: relative;
  transition: all 0.3s;
}

#journey .timeline,
#journey .timeline *,
#journey .timeline *::before,
#journey .timeline *::after {
  box-sizing: border-box;
}

#journey .timeline::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: var(--main-color);
}

#journey .timeline .timeline-item {
  margin-bottom: 30px;
  position: relative;
}

#journey .timeline .timeline-item .timeline-icon {
  width: 75px;
  height: 75px;
  position: absolute;
  top: -10px;
  left: calc(50% - 12.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -23px;
  border-radius: 50%;
  background-color: var(--main-color);
}

#journey .timeline .timeline-item .timeline-icon img {
  width: 50%;
}

#journey .timeline .timeline-content {
  width: 45%;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s;
}

#journey .timeline .timeline-content.right {
  margin-inline-start: -20px;
}

#journey .timeline .timeline-content.left {
  margin-inline-end: -20px;
}

#journey .timeline .timeline-item .timeline-content h3 {
  padding: 15px;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 500;
  border-radius: 3px 3px 0 0;
  background-color: var(--main-color);
}

#journey .timeline .timeline-content.left::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: var(--main-color);
}

#journey .timeline .timeline-content.right::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -5px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: var(--main-color);
}

#journey .timeline .timeline-content.right {
  float: right;
}

#journey .timeline .timeline-content.left {
  float: left;
}

#journey .timeline .timeline-content.right {
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

#journey .timeline .timeline-content.left {
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

#journey .timeline .timeline-item::before,
#journey .timeline .timeline-item::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 768px) {
  #journey .timeline {
    margin: 30px;
    padding: 0;
  }

  #journey .timeline::before {
    left: 0;
  }

  #journey .timeline .timeline-item .timeline-icon {
    left: -13px;
  }

  #journey .timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }

  #journey .timeline .timeline-item .timeline-content::before {
    left: -5px;
    right: inherit;
  }

  #journey .timeline .timeline-content.right {
    margin-inline-start: -30px;
  }

  #journey .timeline .timeline-content.left {
    margin-inline-start: -30px;
  }
}
/*   E N D                     Y O U R   J O U R N E Y                     S E C T I O N  */

/*   S T A R T                     C O N T A C T                        S E C T I O N  */
#start-now {
  background-color: var(--main-bg-color);
  height: 95vh;
}

#start-now .form {
  padding: 1.5rem;
}

#start-now .form form label {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 12px;
  margin-bottom: 0;
}

#start-now .form form input {
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px 12px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  margin-bottom: 16px;
  transition: border 0.5s;
}

#start-now .form form input:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
}

#start-now .form form select {
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px 12px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  margin-bottom: 16px;
  transition: border 0.5s;
}

#start-now .form form select:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
}

#start-now .form form .btn-submit {
  width: 25%;
  padding: 5px 30px;
  margin-top: 1.25rem;
  margin-bottom: 3.125rem;
  color: #fff;
  background-color: var(--main-color);
  font-size: 20px;
  line-height: 38px;
  border: none;
  outline: 5px solid transparent;
  cursor: pointer;
  transition: color 0.5s, background 0.5s, outline 0.5s;
}

#start-now .form form .btn-submit:hover {
  background-color: var(--main-color);
  outline: 1px solid #fcaf3c80;
}

#start-now .form-control:focus {
  box-shadow: none;
}
/*   E N D                     C O N T A C T                        S E C T I O N  */

/*  S T A R T                  F O O T E R                         S E C T I O N  */
#footer {
  background-color: #262927;
}

#footer .copyright {
  padding: 1rem 0;
}
/*   E N D                     F O O T E R                         S E C T I O N  */

/* LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  /* transition: opacity 0.1s, visibility 0.1s; */
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.lds-ring {
  color: var(--main-color);
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
